<div id="dashboard" class="col-sm-2 col-md-2 sidebar">
   <li class="sidebar-brand">
      <h3>
         <span class="label label-info">GFK Exercise Index </span>
      </h3>
   </li>
   <ul class="nav nav-sidebar">
      <li><a ui-sref="main.numberOne">Number One</a></li>
   </ul>
   <ul class="nav nav-sidebar">
      <li><a ui-sref="main.numberTwo">Number Two</a></li>
   </ul>
   <ul class="nav nav-sidebar">
      <li><a ui-sref="main.numberThree">Number Three</a></li>
   </ul>
   <ul class="nav nav-sidebar">
      <li><a ui-sref="main.numberFour">Number Four</a></li>
   </ul>
</div>

<div class="container-fluid col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
   <div class="row" ui-view>
   </div>
</div>
