<div class="container-fluid col-sm-6 col-md-6 exercise-collumn">
   <div class="question">
      <p>
         Use the two url's shown below to retrieve the strings they return and after they both complete,
         concatenate both strings in the correct order with a space in between and display the result.
      </p>
      <p>
         http://cdn.gfkdaphne.com/tests/async.php?a=1
      </p>
      <p>
         http://cdn.gfkdaphne.com/tests/async.php?a=2
      </p>
   </div>
   <div class="response">
      <pre>

      </pre>
   </div>
</div>
<div class="container-fluid col-sm-6 col-md-6 response-in-action exercise-collumn">
   <div>
      <button type="button" class="btn btn-default" ng-click="execNumberFour()">Check the code in action!</button>
   </div>
   <div>
      <textarea class="result" readonly>{{numberFourOutput}}</textarea>
   </div>
</div>
