<div class="container-fluid col-sm-6 col-md-6 exercise-collumn">
   <div class="question">
      <p>
         Write a program in any language that prints the numbers from 1 to 100.
      </p>
      <p>
         Both for multiples of three print “Bizz” instead of the number and for the multiples of five print "Appz".
      </p>
      <p>
         For numbers which are multiples of both three and five print “BizzAppz".
      </p>
   </div>
   <div class="response">
      <pre>
var output = '';
var str;
for (var i = 1; i <= 100; i++) {
   str = '';
   if (i % 3 === 0) {
      str += 'Bizz';
   }
   if (i % 5 === 0) {
      str += 'Appz';
   }
   if (str === '') {
      str += i;
   }
   output += str + '\n';
}
console.log(output);
      </pre>
   </div>
</div>
<div class="container-fluid col-sm-6 col-md-6 response-in-action exercise-collumn">
   <div>
      <button type="button" class="btn btn-default" ng-click="execNumberOne()">Check the code in action!</button>
   </div>
   <div>
      <textarea class="result" ng-model="numberOneOutput"></textarea>
   </div>
</div>
