<div class="container-fluid col-sm-6 col-md-6 exercise-collumn">
   <div class="question">
      <p>
         Using the attached data, create a chart in JavaScript which shows a trend over time of the
         percentage of responses for that day which have a value of “yes” for the “answer” column.
      </p>
   </div>
   <div class="response">
      <pre>


      </pre>
   </div>
</div>
<div class="container-fluid col-sm-6 col-md-6 response-in-action exercise-collumn">
   <div>
      <button type="button" class="btn btn-default" ng-click="loadData()">Check the code in action!</button>
   </div>
   <div>

   </div>
</div>
